<h1>Nuevo Registro</h1>

<%= form_tag tabla_save_path do %>
<label form="usuario">Usuario</label>
<%= text_field_tag :name_field%>
<%= text_field_tag :last_name_field%>
<%= text_field_tag :scored_points_field%>


<%= submit_tag "Aqui va!"%>
<%end%>

